@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap");

:root {
  --poppins: "Poppins", serif;
  --lobster-family: "Lobster", serif;
  --yesevafamily: "Yeseva One", serif;
}

body{
    font-family: var(--poppins);
}
.fontyeseba{
    font-family: var(--yesevafamily);
}
footer{
    font-family: var(--lobster-family);
}
.primaryColor{
    color: #FFAD5A;
}
/* button */
.button{
    background-color: #FF5959;
    color: #fff;
}
.button:hover{
    background-color: #FF5959;
}
#banerOne{
    background-image: url(asset/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:  left bottom;
    background-size: 30% 70%;
    padding-left: 4rem;
}
#bannerTwo{
    background-image: url(asset/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:  right bottom;
    background-size: 50% 50%;
    padding-right: 4rem;
}
#heroSecond{
    background-image: url(asset/shapes/shape-5.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 10% 20%;

}
#Application{
    background-image: url(asset/shapes/shape-3.png), url(asset/shapes/shape-3.png), url(asset/shapes/shape-3.png), url(asset/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right, top right, left bottom;
    background-size: 30% 30%, 50% 40%, 30% 30%, 20% 20%;
}
@media screen and (max-width:576px) {
    #banerOne{
        background-position:  right bottom;
        background-size: 30% 20%;
        padding-left: 0;
    }
    #bannerTwo{
        padding-right: 0;

    }
}